

<div class="col-md-6">
    <div id="reviews">
        <ul class="reviews">
            {% for comment in comments %}
                <li>
                    <div class="review-heading">
                        <h5 class="name">{{ comment.name }}</h5>
                        <p class="date">{{ comment.created|date("m/d/Y") }}</p>
                    </div>
                    <div class="review-body">
                        <p>{{ comment.text }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>