
{% extends 'base.html.twig' %}
{% block content%}
	<section class="carousel">
		<div class="reel">
			<header><h3>{{ product.name }}</h3></header>
			{% for image in additional_images %}
				<article>
					<img src="{{ sonata_path(product.image,'small') }}" alt=""/>

				</article>
			{% endfor %}
		</div>
	</section>
	<div class="wrapper style2">

		<article id="main" class="container special">
			<h3>О товаре</h3>
			<p>
				{{ product.description }}
			</p>
			<footer>
				<a href="#" class="button">Добавить в корзину</a>
			</footer>
		</article>
		{#		<p><input type="text" name="comment" placeholder="Оставьте свой отзыв"/></p>#}
	</div>
	<div class="container">
		<div id="tab3" class="tab-pane fade in">
			<div class="row">
				<div class="col-md-6">
					<div id="reviews">
						<ul class="reviews">
							<!-- js rendering here -->
						</ul>
					</div>
				</div>

				<!-- Review Form -->
				{{
				render(controller('App\\Controller\\CommentController::commentForm', { 'id' : product.id }))
				}}
				<!-- /Review Form -->
			</div>
		</div>
		{% include 'comment/comment_list.html.twig' %}
	</div>


{% endblock %}