{#<div class="wrapper">#}
{#    <div class="profile">#}
{#        <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">#}
{#        <h3>Anamika Roy</h3>#}
{#        <p>Designer</p>#}
{#    </div>#}
{#</div>#}