<section id="three">
    <h2>Распродажа техники!Каждую неделю – свежие скидки онлайн.Скидки на подаркb,</h2>
    <p> Подписка M.Prime, Оформите и получайте больше выгоды.Распродажа техники!</p>
    <div class="row">
    </div></section>